.home-container {
  width: 60%;
  height: 75dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.hero-box {
  display: inline-flex;
  /* margin: 2rem auto; */
  flex-direction: column;
  /* background-color: green; */
}

.tag-line{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-social-handles{
    margin-top: 1.5rem;
}

.hero-social-handles > .social-btn{
    margin-right: 0.6rem;
}


.hero-social-handles > .social-btn > a {
    opacity: 0.5;
}

.hero-social-handles > .social-btn > a > svg{
    transition: transform 0.2s ease-in-out;
}

.hero-social-handles > .social-btn > a:hover > svg{
    transform: scale(1.1)
}