.navbar{
    /* width: clamp(300px, 400px, 100%); */
    width: 350px;
    margin: 2rem auto 0 auto;
    padding: 0.7rem 2rem;
    background: #1c1b22;
    border-radius: 3rem;
    /* backdrop-filter: blur(1px); */
    box-shadow: 1px 0px 9px #646cff4d;
}

.navbar > ul{
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.navbar > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 0.2s ease-in-out
}



.navbar > ul > li .nav-item{
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: rgb(255 255 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > ul > li .nav-item:hover{
    background: #646cff27;
}

.navbar > ul > li > a.active{
    background: #646cff;
    color: #1a1a1a;
}