*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

*::selection {
  color: #646cff;
}

.main-container {
  width: 100%;
  padding: 1rem 5rem;

}


.page-title{
  margin: 2rem auto;
}

.page-title > p{
  line-height: 0.8rem;
}

.page-title > h2{
  font-size: 2.2rem;
  border-bottom: solid 3px #646cff;
}



*/
.tertiary {
  color: #9ba9b4;
}


@media screen and (width < 800px){
  .main-container{
    padding: 1rem 2rem;
  }
}